{
  "openapi": "3.0.0",
  "info": {
    "title": "Complex API Fixture",
    "version": "2024-11-20",
    "description": "Covers Stripe + Twilio patterns: circular refs, form bodies, oneOf, multi-auth, large responses"
  },
  "servers": [{ "url": "https://api.stripe.com" }],
  "components": {
    "securitySchemes": {
      "bearerAuth":   { "type": "http",   "scheme": "bearer" },
      "basicAuth":    { "type": "http",   "scheme": "basic"  },
      "apiKeyHeader": { "type": "apiKey", "in": "header", "name": "X-API-Key" }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "description": "A postal address",
        "properties": {
          "line1":       { "type": "string" },
          "line2":       { "type": "string" },
          "city":        { "type": "string" },
          "state":       { "type": "string" },
          "postal_code": { "type": "string" },
          "country":     { "type": "string" }
        }
      },
      "Customer": {
        "type": "object",
        "required": ["id"],
        "description": "A Stripe Customer object",
        "properties": {
          "id":          { "type": "string" },
          "object":      { "type": "string", "enum": ["customer"] },
          "name":        { "type": "string" },
          "email":       { "type": "string", "format": "email" },
          "description": { "type": "string" },
          "phone":       { "type": "string" },
          "address": { "$ref": "#/components/schemas/Address" },
          "metadata": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Set of key-value pairs for additional structured information"
          },
          "subscriptions": {
            "type": "object",
            "description": "The customer's current subscriptions",
            "properties": {
              "data":     { "type": "array", "items": { "$ref": "#/components/schemas/Subscription" } },
              "has_more": { "type": "boolean" },
              "url":      { "type": "string" }
            }
          },
          "created":  { "type": "integer", "description": "Unix timestamp of creation" },
          "livemode": { "type": "boolean" }
        }
      },
      "Subscription": {
        "type": "object",
        "required": ["id"],
        "description": "A Stripe Subscription object",
        "properties": {
          "id":     { "type": "string" },
          "object": { "type": "string", "enum": ["subscription"] },
          "status": {
            "type": "string",
            "enum": ["active", "canceled", "incomplete", "incomplete_expired", "past_due", "trialing", "unpaid"]
          },
          "customer": { "$ref": "#/components/schemas/Customer" },
          "current_period_start": { "type": "integer" },
          "current_period_end":   { "type": "integer" },
          "cancel_at_period_end": { "type": "boolean" },
          "items": {
            "type": "object",
            "properties": {
              "data":     { "type": "array", "items": { "$ref": "#/components/schemas/SubscriptionItem" } },
              "has_more": { "type": "boolean" }
            }
          },
          "created": { "type": "integer" }
        }
      },
      "SubscriptionItem": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id":       { "type": "string" },
          "object":   { "type": "string", "enum": ["subscription_item"] },
          "quantity": { "type": "integer" },
          "price":    { "$ref": "#/components/schemas/Price" }
        }
      },
      "Price": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id":          { "type": "string" },
          "object":      { "type": "string", "enum": ["price"] },
          "active":      { "type": "boolean" },
          "currency":    { "type": "string" },
          "unit_amount": { "type": "integer" },
          "recurring": {
            "type": "object",
            "description": "Billing schedule for recurring prices",
            "properties": {
              "interval":       { "type": "string", "enum": ["day", "week", "month", "year"] },
              "interval_count": { "type": "integer" }
            }
          }
        }
      },
      "Charge": {
        "type": "object",
        "required": ["id", "amount", "currency"],
        "description": "A Stripe Charge object — 25 fields for large-schema testing",
        "properties": {
          "id":                 { "type": "string" },
          "object":             { "type": "string", "enum": ["charge"] },
          "amount":             { "type": "integer", "description": "Amount in the smallest currency unit (e.g. cents)" },
          "amount_captured":    { "type": "integer" },
          "amount_refunded":    { "type": "integer" },
          "captured":           { "type": "boolean" },
          "created":            { "type": "integer" },
          "currency":           { "type": "string" },
          "customer":           { "type": "string", "description": "ID of the customer this charge is for" },
          "description":        { "type": "string" },
          "disputed":           { "type": "boolean" },
          "failure_code":       { "type": "string" },
          "failure_message":    { "type": "string" },
          "invoice":            { "type": "string" },
          "livemode":           { "type": "boolean" },
          "paid":               { "type": "boolean" },
          "payment_intent":     { "type": "string" },
          "payment_method":     { "type": "string" },
          "receipt_email":      { "type": "string" },
          "receipt_url":        { "type": "string" },
          "refunded":           { "type": "boolean" },
          "status":             { "type": "string", "enum": ["succeeded", "pending", "failed"] },
          "billing_details": {
            "type": "object",
            "description": "Billing information associated with the payment method (3-level nesting via address)",
            "properties": {
              "address": { "$ref": "#/components/schemas/Address" },
              "email":   { "type": "string" },
              "name":    { "type": "string" },
              "phone":   { "type": "string" }
            }
          },
          "statement_descriptor": { "type": "string" },
          "metadata": {
            "type": "object",
            "additionalProperties": { "type": "string" }
          }
        }
      },
      "Card": {
        "type": "object",
        "required": ["id", "last4"],
        "properties": {
          "id":        { "type": "string" },
          "object":    { "type": "string", "enum": ["card"] },
          "brand":     { "type": "string", "enum": ["American Express", "Diners Club", "Discover", "JCB", "MasterCard", "UnionPay", "Visa", "Unknown"] },
          "last4":     { "type": "string" },
          "exp_month": { "type": "integer" },
          "exp_year":  { "type": "integer" },
          "funding":   { "type": "string", "enum": ["credit", "debit", "prepaid", "unknown"] },
          "country":   { "type": "string" }
        }
      },
      "BankAccount": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id":                  { "type": "string" },
          "object":              { "type": "string", "enum": ["bank_account"] },
          "account_holder_name": { "type": "string" },
          "account_holder_type": { "type": "string", "enum": ["individual", "company"] },
          "bank_name":           { "type": "string" },
          "country":             { "type": "string" },
          "currency":            { "type": "string" },
          "last4":               { "type": "string" },
          "routing_number":      { "type": "string" },
          "status":              { "type": "string", "enum": ["new", "validated", "verified", "verification_failed", "errored"] }
        }
      },
      "PaymentMethod": {
        "description": "A payment source — either a Card or a BankAccount",
        "oneOf": [
          { "$ref": "#/components/schemas/Card" },
          { "$ref": "#/components/schemas/BankAccount" }
        ]
      },
      "CustomerList": {
        "type": "object",
        "properties": {
          "data":        { "type": "array", "items": { "$ref": "#/components/schemas/Customer" } },
          "has_more":    { "type": "boolean" },
          "url":         { "type": "string" },
          "total_count": { "type": "integer" }
        }
      },
      "SubscriptionList": {
        "type": "object",
        "properties": {
          "data":     { "type": "array", "items": { "$ref": "#/components/schemas/Subscription" } },
          "has_more": { "type": "boolean" },
          "url":      { "type": "string" }
        }
      },
      "DeletedObject": {
        "type": "object",
        "properties": {
          "id":      { "type": "string" },
          "object":  { "type": "string" },
          "deleted": { "type": "boolean" }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id":             { "type": "string" },
          "object":         { "type": "string", "enum": ["webhook_endpoint"] },
          "api_version":    { "type": "string" },
          "created":        { "type": "integer" },
          "description":    { "type": "string" },
          "enabled_events": { "type": "array", "items": { "type": "string" } },
          "livemode":       { "type": "boolean" },
          "status":         { "type": "string", "enum": ["enabled", "disabled"] },
          "url":            { "type": "string" }
        }
      },
      "Message": {
        "type": "object",
        "description": "A Twilio SMS/MMS Message resource — 20 fields",
        "properties": {
          "sid":                  { "type": "string" },
          "account_sid":          { "type": "string" },
          "api_version":          { "type": "string" },
          "body":                 { "type": "string" },
          "date_created":         { "type": "string", "format": "date-time" },
          "date_sent":            { "type": "string", "format": "date-time" },
          "date_updated":         { "type": "string", "format": "date-time" },
          "direction":            { "type": "string", "enum": ["inbound", "outbound-api", "outbound-call", "outbound-reply"] },
          "error_code":           { "type": "integer" },
          "error_message":        { "type": "string" },
          "from":                 { "type": "string" },
          "messaging_service_sid":{ "type": "string" },
          "num_media":            { "type": "string" },
          "num_segments":         { "type": "string" },
          "price":                { "type": "string" },
          "price_unit":           { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["queued", "sending", "sent", "failed", "delivered", "undelivered", "receiving", "received", "accepted", "scheduled", "read", "partially_delivered", "canceled"]
          },
          "subresource_uris": {
            "type": "object",
            "properties": { "media": { "type": "string" } }
          },
          "to":  { "type": "string" },
          "uri": { "type": "string" }
        }
      },
      "MessageListResponse": {
        "type": "object",
        "description": "Twilio-style paginated response with page metadata",
        "properties": {
          "end":               { "type": "integer" },
          "first_page_uri":    { "type": "string" },
          "last_page_uri":     { "type": "string" },
          "messages":          { "type": "array", "items": { "$ref": "#/components/schemas/Message" } },
          "next_page_uri":     { "type": "string" },
          "page":              { "type": "integer" },
          "page_count":        { "type": "integer" },
          "page_size":         { "type": "integer" },
          "previous_page_uri": { "type": "string" },
          "start":             { "type": "integer" },
          "uri":               { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/v1/customers": {
      "get": {
        "operationId": "list_customers",
        "summary": "List all customers",
        "description": "Returns a list of customers sorted by creation date.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["customers"],
        "parameters": [
          { "name": "email",          "in": "query", "required": false, "description": "Filter by email (case-sensitive)", "schema": { "type": "string", "format": "email" } },
          { "name": "limit",          "in": "query", "required": false, "description": "Max objects to return (1-100)", "schema": { "type": "integer", "minimum": 1, "maximum": 100 } },
          { "name": "starting_after", "in": "query", "required": false, "description": "Pagination cursor — object ID", "schema": { "type": "string" } },
          { "name": "ending_before",  "in": "query", "required": false, "description": "Pagination cursor — object ID", "schema": { "type": "string" } },
          { "name": "created",        "in": "query", "required": false, "description": "Unix timestamp filter", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "A list of customers", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CustomerList" } } } }
        }
      },
      "post": {
        "operationId": "create_customer",
        "summary": "Create a customer",
        "description": "Creates a new customer object.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["customers"],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name":        { "type": "string", "description": "Full name or business name" },
                  "email":       { "type": "string", "format": "email" },
                  "description": { "type": "string" },
                  "phone":       { "type": "string" },
                  "metadata":    { "type": "object", "additionalProperties": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Customer created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } }
        }
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "operationId": "get_customer",
        "summary": "Retrieve a customer",
        "description": "Retrieves a Customer object, which may include circular subscription references.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["customers"],
        "parameters": [
          { "name": "id",     "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "expand", "in": "query", "required": false, "description": "Fields to expand in the response", "schema": { "type": "array", "items": { "type": "string" } } }
        ],
        "responses": {
          "200": { "description": "Customer object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } }
        }
      },
      "post": {
        "operationId": "update_customer",
        "summary": "Update a customer",
        "security": [{ "bearerAuth": [] }],
        "tags": ["customers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name":        { "type": "string" },
                  "email":       { "type": "string" },
                  "description": { "type": "string" },
                  "phone":       { "type": "string" },
                  "metadata":    { "type": "object", "additionalProperties": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated customer", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Customer" } } } }
        }
      },
      "delete": {
        "operationId": "delete_customer",
        "summary": "Delete a customer",
        "description": "Permanently deletes a customer. It cannot be undone. Also immediately cancels active subscriptions.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["customers"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deletion confirmation", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeletedObject" } } } }
        }
      }
    },
    "/v1/subscriptions": {
      "get": {
        "operationId": "list_subscriptions",
        "summary": "List subscriptions",
        "description": "Returns a list of subscriptions with many filter parameters.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["subscriptions"],
        "parameters": [
          { "name": "customer",             "in": "query", "required": false, "description": "Filter by customer ID", "schema": { "type": "string" } },
          { "name": "status",               "in": "query", "required": false, "description": "Filter by status", "schema": { "type": "string", "enum": ["active", "canceled", "incomplete", "past_due", "trialing", "unpaid", "all"] } },
          { "name": "price",                "in": "query", "required": false, "description": "Filter by price ID", "schema": { "type": "string" } },
          { "name": "limit",                "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100 } },
          { "name": "starting_after",       "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "current_period_end",   "in": "query", "required": false, "description": "Unix timestamp filter for period end", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "A list of subscriptions", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionList" } } } }
        }
      },
      "post": {
        "operationId": "create_subscription",
        "summary": "Create a subscription",
        "description": "Creates a new subscription on an existing customer. Immediately starts billing.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["subscriptions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["customer"],
                "properties": {
                  "customer":            { "type": "string", "description": "ID of an existing customer" },
                  "items":               { "type": "array", "description": "Subscription line items", "items": { "type": "object", "properties": { "price": { "type": "string" }, "quantity": { "type": "integer" } } } },
                  "cancel_at_period_end":{ "type": "boolean" },
                  "trial_period_days":   { "type": "integer" },
                  "metadata":            { "type": "object", "additionalProperties": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subscription created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } } }
        }
      }
    },
    "/v1/charges": {
      "post": {
        "operationId": "create_charge",
        "summary": "Create a charge",
        "description": "To charge a credit card or other payment source, you create a Charge object. This immediately bills the customer.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["charges"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["amount", "currency"],
                "properties": {
                  "amount":               { "type": "integer", "description": "Amount in the smallest currency unit (e.g. 100 = $1.00)" },
                  "currency":             { "type": "string",  "description": "Three-letter ISO currency code (e.g. usd)" },
                  "customer":             { "type": "string",  "description": "ID of an existing customer to charge" },
                  "description":          { "type": "string" },
                  "receipt_email":        { "type": "string",  "format": "email" },
                  "statement_descriptor": { "type": "string",  "maxLength": 22 },
                  "metadata":             { "type": "object",  "additionalProperties": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Charge created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Charge" } } } }
        }
      }
    },
    "/v1/charges/{id}": {
      "get": {
        "operationId": "get_charge",
        "summary": "Retrieve a charge",
        "security": [{ "bearerAuth": [] }],
        "tags": ["charges"],
        "parameters": [
          { "name": "id",     "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "expand", "in": "query", "required": false, "schema": { "type": "array", "items": { "type": "string" } } }
        ],
        "responses": {
          "200": { "description": "Charge object", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Charge" } } } }
        }
      }
    },
    "/v1/refunds": {
      "post": {
        "operationId": "create_refund",
        "summary": "Create a refund",
        "description": "Refunds a charge that has previously been created but not yet refunded.",
        "security": [{ "bearerAuth": [] }],
        "tags": ["refunds"],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "charge": { "type": "string", "description": "The identifier of the charge to refund" },
                  "amount": { "type": "integer" },
                  "reason": { "type": "string", "enum": ["duplicate", "fraudulent", "requested_by_customer"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id":       { "type": "string" },
                    "object":   { "type": "string", "enum": ["refund"] },
                    "amount":   { "type": "integer" },
                    "charge":   { "type": "string" },
                    "created":  { "type": "integer" },
                    "currency": { "type": "string" },
                    "reason":   { "type": "string" },
                    "status":   { "type": "string", "enum": ["pending", "succeeded", "failed", "canceled"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_methods/{id}": {
      "get": {
        "operationId": "get_payment_method",
        "summary": "Retrieve a payment method",
        "description": "Returns a PaymentMethod — either a Card or BankAccount (oneOf polymorphic response).",
        "security": [{ "bearerAuth": [] }],
        "tags": ["payment_methods"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "A Card or BankAccount", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaymentMethod" } } } }
        }
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages.json": {
      "post": {
        "operationId": "create_message",
        "summary": "Send a Message",
        "description": "Send a new outgoing message from your Twilio account. This will be billed and charged to your account.",
        "security": [{ "basicAuth": [] }],
        "tags": ["messages"],
        "parameters": [
          { "name": "AccountSid", "in": "path", "required": true, "description": "The SID of the Account that will create the resource", "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["From", "To", "Body"],
                "properties": {
                  "From":                 { "type": "string", "description": "The phone number to use as the message sender" },
                  "To":                   { "type": "string", "description": "The destination phone number" },
                  "Body":                 { "type": "string", "description": "The text content of the message" },
                  "MediaUrl":             { "type": "array",  "items": { "type": "string", "format": "uri" }, "description": "URLs of media to attach" },
                  "MessagingServiceSid":  { "type": "string" },
                  "StatusCallback":       { "type": "string", "format": "uri" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Message sent", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Message" } } } }
        }
      },
      "get": {
        "operationId": "list_messages",
        "summary": "List Messages",
        "description": "Returns a list of messages associated with your account, with Twilio-style pagination.",
        "security": [{ "basicAuth": [] }],
        "tags": ["messages"],
        "parameters": [
          { "name": "AccountSid", "in": "path",  "required": true,  "schema": { "type": "string" } },
          { "name": "To",         "in": "query", "required": false, "description": "Filter by destination number", "schema": { "type": "string" } },
          { "name": "From",       "in": "query", "required": false, "description": "Filter by sender number", "schema": { "type": "string" } },
          { "name": "DateSent",   "in": "query", "required": false, "description": "Filter by date sent (YYYY-MM-DD)", "schema": { "type": "string", "format": "date" } },
          { "name": "PageSize",   "in": "query", "required": false, "description": "Resources to return per page (max 1000)", "schema": { "type": "integer", "minimum": 1, "maximum": 1000 } },
          { "name": "Page",       "in": "query", "required": false, "description": "Page index (0-based)", "schema": { "type": "integer", "minimum": 0 } },
          { "name": "PageToken",  "in": "query", "required": false, "description": "Opaque pagination token", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "A list of messages", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MessageListResponse" } } } }
        }
      }
    },
    "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}.json": {
      "get": {
        "operationId": "get_message",
        "summary": "Fetch a Message",
        "description": "Fetch the resource representation of a single Message.",
        "security": [{ "basicAuth": [] }],
        "tags": ["messages"],
        "parameters": [
          { "name": "AccountSid", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "MessageSid", "in": "path", "required": true, "description": "The unique SID that identifies the message", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The requested Message", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Message" } } } }
        }
      },
      "delete": {
        "operationId": "delete_message",
        "summary": "Delete a Message",
        "description": "Deletes a message record from your account. Once deleted it will no longer appear in the API logs.",
        "security": [{ "basicAuth": [] }],
        "tags": ["messages"],
        "parameters": [
          { "name": "AccountSid", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "MessageSid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "The resource was deleted successfully" }
        }
      }
    },
    "/v1/webhook_endpoints": {
      "post": {
        "operationId": "create_webhook",
        "summary": "Create a webhook endpoint",
        "description": "A webhook endpoint must have a url and a list of enabled_events.",
        "security": [{ "apiKeyHeader": [] }],
        "tags": ["webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "enabled_events"],
                "properties": {
                  "url":            { "type": "string", "format": "uri", "description": "The URL of the webhook endpoint" },
                  "enabled_events": { "type": "array",  "items": { "type": "string" }, "description": "Event types to enable for this endpoint" },
                  "description":    { "type": "string" },
                  "metadata":       { "type": "object", "additionalProperties": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Webhook endpoint created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookEndpoint" } } } }
        }
      }
    },
    "/v1/webhook_endpoints/{id}": {
      "delete": {
        "operationId": "delete_webhook",
        "summary": "Delete a webhook endpoint",
        "description": "You can also delete webhook endpoints via the Stripe dashboard.",
        "security": [{ "apiKeyHeader": [] }],
        "tags": ["webhooks"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeletedObject" } } } }
        }
      }
    }
  }
}
